.sidebar-container{
    background: #FFFFFF;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sidebar-container>h2{
    font-weight: 500;
    font-size: 33px;
    letter-spacing: 2%;
    color:#000000 ;
    text-align: center;
    margin-top: 40px;
    margin-bottom:30px;
    padding: 0 0;
}
.createGroup-button{
    background:#16008B ;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2%;
    font-family:roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position:absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom:20px;
    cursor: pointer;
}
.group-container{
   
    width: inherit;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 103px);
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width:850px) {
    .sidebar-container{
        width:40vw
    }
}
 @media (max-width:500px){
    .sidebar-container{
        width:100vw;
        height: calc(100vh - 60px);
    }
    .sidebar-container>h2{
        position: static;
    }
    .sidebar-container>h2{
        margin-top:20px;
        margin-bottom:15px;
        text-align: left;
        margin-left: 40px; 
        font-size:25px;
    }
    
}